.film-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  align-items: center;
  gap: 10px;
}

.film-card .film-card-image {
  width: 190px;
  aspect-ratio: 2/3;
}

.film-card .film-card-title {
  font-size: 16px;
  text-align: center;
}

.film-card .film-card-description {
  font-size: 14px;
  color: grey;
  height: 200px;
  overflow: hidden;
}

.film-card h1 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

.film-card h1:hover {
  border-bottom: 3px solid rgb(134, 17, 17);
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}