

.films-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.film-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.film-cards a {
  text-decoration: none;
  color: black;
}

.search-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.search-card input {
  padding: 5px;
  border: 2px solid black;
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid rgb(119, 25, 25);
}

.search-card input:focus {
  border: 1px solid rgb(119, 25, 25);
  outline: none;
  width: 150%;
  transition: all 0.4s ease-in-out;
}
